# 함수와 자료형(튜플, 딕셔너리, 집합)

## 함수

In [81]:
def hello():
    print('hello')

In [82]:
hello()

hello

In [83]:
def hello2():
    return 'hello2'

In [84]:
hello2()

'hello2'

In [ ]:
print(hello())

In [ ]:
print(hello2())

In [85]:
# 'hello', 'world'를 반환하는 함수를 만들려면?
def hello():
    return 'hello'
def world():
    return 'world'
print(hello() + ' ' + world())

hello world

## 튜플

### 값 입력 방법

In [21]:
tuple1 = (1,2,3)

In [27]:
tuple2 = 1,2,

In [23]:
tuple3 = 1,

In [33]:
tuple1

(1, 2, 3)

In [34]:
tuple2

(1, 2)

In [37]:
tuple3

(1,)

In [38]:
t1, t2, t3 = tuple1

In [39]:
t1

1

In [40]:
t2

2

In [41]:
t3

3

In [86]:
def helloworld():
    return 'hello', 'world'

h = helloworld()

print(h[0] + ' ' + h[1])

hello world

In [1]:
tuple1 = (1,2,3,4,5)

In [8]:
tuple1[0]

1

In [9]:
tuple1[1]

2

In [10]:
tuple1[5]

IndexError: tuple index out of range

### 튜플의 특징
- 튜플은 직접적으로 원소를 변경할 수 없다.

In [2]:
tuple1[2] = 10

TypeError: 'tuple' object does not support item assignment

In [4]:
# tuple 끼리만 연산이 가능하다!
tuple1[0:2] + (10,) + tuple1[3:]

(1, 2, 10, 4, 5)

In [87]:
tuple1[0:2] + 10 + tuple1[3:]

TypeError: can only concatenate tuple (not "int") to tuple

### list <-> tuple 변환

In [6]:
list(tuple1)

[1, 2, 3, 4, 5]

In [7]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [89]:
# 이를 함수와 섞어서 사용한다면?
def hello3():
    return 'hello', ' ', 'world'

In [90]:
hello3()

('hello', ' ', 'world')

In [91]:
# 이를 list로 바꾸려면?
list(hello3())

['hello', ' ', 'world']

In [106]:
# 가령 어딘가에서 데이터를 크롤링한 함수가 있다고 가정해보죠
def get_기상청_미세먼지():
    data = 10, 20, 30, 10, 20, 30,
    return data

def get_기상청_오존():
    data = 44, 33, 10, 20, 80, 90
    return data

In [102]:
get_기상청_미세먼지()

(10, 20, 30, 10, 20, 30)

In [104]:
get_기상청_오존()

(44, 33, 20, 50, 80, 90)

In [108]:
# 문제) 위 함수를 이용하여, 아래 예시처럼 결과 값을 출력해보세요.
# 예)
# 미세먼지 : 10, 20, 30, ~~
# 오존 : 44, 33, 20, ~~

## dictionary

key, value로 이루어짐

In [93]:
dic = {
    '이름':'파이썬',
    '직업':'재능꾼',
}

In [94]:
dic

{'이름': '파이썬', '직업': '재능꾼'}

In [95]:
dic['이름']

'파이썬'

In [96]:
dic['직업']

'재능꾼'

In [100]:
print(dic['이름'] + '은 ' + dic['직업'] + '이다')

파이썬은 재능꾼이다

In [39]:
#dic 안에 있는 값을 쌍으로 가져오기
dic.items()

dict_items([('Job', 'Student'), ('Name', 'James')])

In [40]:
for item in dic.items():
    print(item)

('Job', 'Student')
('Name', 'James')

In [110]:
# 문제) 기상청 데이터 함수에서 데이터를 가져와 아래의 결과 값이 나오도록 dictionary로 구성하는 함수를 구현하시오.
# 결과값 :
# input : dic_기상청['오존']
# output : [10, 20, 30, ~]

In [115]:
# get을 이용한 value 값 가져오기
dic.get('이름')

'파이썬'

In [43]:
dic['name']

KeyError: 'name'

In [44]:
dic.get('name')

In [114]:
# key 값 확인
dic.keys()

dict_keys(['이름', '직업'])

In [46]:
# key값 검증
'Name' in dic

True

In [112]:
# 기상청 데이터에 질소 값이 추가되었습니다.
def get_기상청_질소():
    data = ()
    return data

In [120]:
# 문제) 기상청 미세먼지, 오존, 질소 값을 dictionary로 반환하는 함수를 구현하시오.

In [116]:
# dictionary에서 키값 삭제
dic.pop('이름')

'파이썬'

In [117]:
dic

{'직업': '재능꾼'}

In [118]:
# 모두 삭제
dic.clear()

In [119]:
dic

{}

In [121]:
# 문제) 확인해보니 질소 값이 크롤링되지 않았네요. 위 함수에서 받은 값을 이용해, 질소 키값에서 삭제해봅시다.

## 집합

In [51]:
set([1,2,3,4,5])

{1, 2, 3, 4, 5}

In [52]:
set([1,1,1,1,1,])

{1}

In [53]:
set('hello word')

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

### 집합 연산

In [67]:
set1 = set([1,2,3,4,5])

In [68]:
set2 = set([1,2,6])

In [69]:
set1

{1, 2, 3, 4, 5}

In [70]:
set2

{1, 2, 6}

In [75]:
set1 & set2

{1, 2}

In [77]:
set1 | set2

{1, 2, 3, 4, 5, 6}

In [78]:
set1 - set2

{3, 4, 5}

In [79]:
set2 - set1

{6}

In [122]:
# 문제) 미세먼지 값에서 유니크한 값만 추출해보세요.

In [123]:
# 문제) 미세먼지와 질소 중에 겹치는 값만 출력해보세요.

In [128]:
# 질소 값을 크롤링하는 기능을 구현했습니다!
def get_기상청_질소():
    data = 10, 20, '없음', 30, 50
    return data

In [126]:
# 문제) 질소 값을 읽어 왔으나 중간에 값으로 취급할 수 없는 값이 나타났습니다.
# 일단 이 값을 0으로 만들어서 분석하기로 결정했습니다.
# get_기상청_질소 함수에서 값을 읽어와, '없음'을 0으로 변경해주세요.

In [127]:
# 문제) 질소까지 포함하는 dictionary 를 구성해보세요